<p><%= notice %></p>

<%# エラーが生じた際はエラーメッセージを表示する %>
<%= form_with(model: @contact, local: true ) do |form| %>
    <% if @contact.errors.any? %>
        <div id="error_explanation">
            <h2><%= @contact.errors.count %>件のエラーがあります。</h2>
            <ul>
            
            <% @contact.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

<%# フォームはform_withメソッドで作成する %>  
    <div class="contact_title">
        <%= form.label :Name %>
        <br>
        <%= form.text_field :name %>
    </div>
    <div class="contact_title">
        <%= form.label :Email %>
        <br>
        <%= form.text_field :email %>
    </div>
    <div class="contact_title">
        <%= form.label :Content %>
        <br>
        <%= form.text_field :content %>
    </div>
    <%= form.submit %>
    
<% end %>